<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .red-color {
        color: red;
      }
      .green-color {
        color: green;
      }
      .linethrough {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="message" v-on:keyup.enter="send()" />
      <!-- <h1 v-bind:class="[textRed,lineThrough]">{{message}}</h1> -->
      <h1 v-if="fruit == 'apple'">I am apple</h1>
      <h1 v-else-if="fruit == 'orange'">I am orange</h1>
      <h1 v-else>No fruits</h1>
      <h1 v-show="status">OK</h1>
      <button @click="show()">Show Message</button>
      <h1>{{number}}</h1>
      <button @click="dec()">Decrease</button>
      <button @click="inc()">Increase</button>
      <p v-if="number < 0" :class="textRed">It is minus number</p>
      <p v-if="number == 0">It is equal number</p>
      <p v-if="number > 0" :class="textGreen">It is plus number</p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: "",
        textRed: "red-color",
        textGreen: "green-color",
        lineThrough: "linethrough",
        status: true,
        fruit: "apple",
        number: 0,
      },
      methods: {
        show() {
          alert(this.message);
        },
        dec() {
          this.number--;
        },
        inc() {
          this.number++;
        },
      },
    });
  </script>
</html>
