<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>ToDo List</h1>
      <input
        type="text"
        placeholder="Enter Task Name"
        v-model="Data.name"
      /><br />
      <small style="color: red" v-if="validation.nameStatus">Required!</small
      ><br />
      <input type="text" placeholder="Remark" v-model="Data.remark" /><br />
      <small style="color: red" v-if="validation.remarkStatus">Required!</small
      ><br />
      <button @click="create()">Add</button>
      <hr />
      <table border="1">
        <tr>
          <th>ID</th>
          <th>Task</th>
          <th>Remark</th>
        </tr>
        <tr v-for="item in items">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.remark}}</td>
        </tr>
      </table>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: "#app",
      data: {
        Data: {
          name: "",
          remark: "",
        },
        items: [],
        validation: {
          nameStatus: false,
          remarkStatus: false,
        },
      },
      methods: {
        create() {
          this.validationCheck();
          //only work when validationcheck is false
          if (!this.validation.nameStatus && !this.validation.remarkStatus) {
            this.items.push({
              id: this.items.length + 1,
              name: this.Data.name,
              remark: this.Data.remark,
            });
            this.clear();
          }
        },
        validationCheck() {
          //default is false so dont show,if condition is true >> default value false is changed to true so show message
          this.validation.nameStatus = this.Data.name == "" ? true : false;
          this.validation.remarkStatus = this.Data.remark == "" ? true : false;
        },
        clear() {
          (this.Data.name = ""), (this.Data.remark = "");
        },
      },
    });
  </script>
</html>
